* {
    font-family: 'Iosevka', 'Jetbrains Mono', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
}

body {
    margin: 100px 10%;
}

body:not(.index)>#content-list,
body:not(.index)>header#header>p {
    display: none;
}

header#header {
    margin-bottom: 50px;
}

header#header>h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: 0;
}

header#header>h1>span {
    font-size: 0.5em;
    opacity: 0.6;
    font-weight: bold;
}

header#header>p {
    font-size: 1.2em;
    opacity: 0.6;
    width: 600px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

a:not(:hover) {
    text-decoration: none;
    color: inherit;
}

#wiggle-arrow {
    height: 16px;
}

p {
    color: #444;
}

p>a {
    color: black !important;
}

p>a::after {
    content: "->";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}