* {
    font-family: 'Jetbrains Mono', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 150px 10%;
}

body:not(.index)>#content-list,
body:not(.index)>header#header>p {
    display: none;
}

header#header {
    margin-bottom: 50px;
}

header#header>h1 {
    font-size: 3.5em;
    margin: 0.3em 0;
}

header#header>h1>span {
    font-size: 0.6em;
    opacity: 0.6;
}

header#header>p {
    font-size: 1.2em;
    opacity: 0.6;
    width: 600px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

a:not(:hover) {
    text-decoration: none;
    color: inherit;
}